body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

.header,
.hero {
  background: #1f2937;
}

.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 24px 200px;
}

.header-logo,
.hero-main-text,
.sign-up-button {
  color: #f9faf8;
}

.header-logo {
  font-size: 24px;
  font-weight: 900;
}

.header-link-container {
  display: flex;
  list-style-type: none;
  gap: 24px;
  margin: 0;
  padding: 0;
}

.header-link,
.hero-secondary-text,
.hero-right {
  color: #e5e7eb;
  font-size: 18px;
}

.header-link {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.hero {
  align-items: stretch;
  display: flex;
  padding: 100px 200px;
}

.hero-left,
.hero-right {
  align-content: center;
  flex: 1;
}

.hero-main-text {
  font-size: 48px;
  font-weight: 900;
}

.hero-secondary-text {
  margin-bottom: 8px;
}

.sign-up-button {
  background: #3882f6;
  border: none;
  border-radius: 8px;
  font-family: inherit;
  font-size: 18px;
  font-weight: 900;
  padding: 8px 32px;
}

.hero-right {
  background: #888;
  text-align: center;
}

.info {
  padding: 50px 200px;
}

.info-header-text,
.quote-text,
.quote-author {
  color: #1f2937;
}

.info-header-text {
  font-size: 36px;
  font-weight: 900;
  margin-bottom: 50px;
  text-align: center;
}

.info-container {
  display: flex;
  gap: 50px;
  justify-content: center;
}

.info-item {
  width: 150px;
}

.info-item-image {
  border: 4px solid #3882f6;
  border-radius: 16px;
  height: 142px;
  margin-bottom: 8px;
}

.info-item-text {
  color: #888;
  text-align: center;
}

.quote {
  background: #e5e7eb;
  padding: 100px 350px;
}

.quote-text {
  font-size: 36px;
  font-style: italic;
  font-weight: 100;
}

.quote-author {
  font-size: 24px;
  font-weight: 900;
  text-align: right;
}
